Stop #{@stop.id}: #{@stop.name}
- @predictions.each do |route|
    #{route.name}: #{route.trips.collect{|t| "#{t.time.to_i/60}m"}.join(', ')}
- if @routes.blank? && @predictions.count > 2 && @user.should_receive_tip?
    TIP: Enter "#{@stop.id} #{@predictions.first.name}" to get times for just the #{@predictions.first.name} bus!